@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$mediumElectricBlue: #085696;
$mediumElectricBlue-50: rgba(0, 83, 147, 0.83);
$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.card-container {
  background-color: $white;
  border-radius: 5px;
  padding: 20px;
  min-width: 300px;
  max-width: 1000px;
}

.card-inner-container {
  text-align: center;
  margin: 30px 0;
}

.img-logo {
  width: 300px;
  height: 91px;
  object-fit: contain;
}

.challenge-container {
  margin: 20px 20px 30px 20px;
}

.score-question {
  color: $white;
  background-color: $mediumElectricBlue;
  border-radius: 5px;
  padding: 10px 0;
  width: 300px;
  margin: 20px auto;
}
